.lessonCard {
  width: 300px;
  height: auto;
  border: 3px solid #d9c6ec;
  border-radius: 5px;
  padding: 10px 20px;
}

.lessonCard > p {
  margin-bottom: 10px;
}

.lessonCard > h4 {
  margin-top: 0;
}

.lessonLinks {
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

.lessonLinks > p {
  margin: 0;
}

.lessonCard > details {
  margin-bottom: 20px;
  cursor: pointer;
}

.lessonCard > details > details {
  margin-left: 10px;
}

.lessonCard ul {
  padding-left: 20px;
  font-size: 14px;
  margin-bottom: 15px;
}

.lessonCard a {
  padding-left: 20px;
}

form {
  display: flex;
}

textarea {
  resize: vertical;
  background-color: transparent;
  margin-right: 10px;
  margin-bottom: 15px;
}

.lessonCardCompleted {
  background-color: rgb(150, 228, 150);
}

.note {
  width: 100%;
  word-wrap: break-word;
}
